body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.btn {
  height: 50px;
  width: 50px;
  margin: 10px;
  font-size: 2rem;
}

.number {
  border-radius: 10px;
  background-color: grey;
  border: none;
}

.number:hover {
  background-color: palevioletred;
}

.operator {
  border-radius: 10px;
  background-color: yellow;
  border: none;
}

.operator:hover {
  background-color: palevioletred;
}

.equal {
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 0, 76, 0.973);
}

.equal:hover {
  background-color: palevioletred;
}

.clear {
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 0, 76, 0.973);
}

.clear:hover {
  background-color: palevioletred;
}

.display {
  width: 215px;
  height: 65px;
  background-color: rgb(31, 196, 168);
  border-radius: 15px;
}

.output-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  font-size: 2rem;
  text-align: right;
  padding-right: 10px;
}

.previous {
  padding: 10px 10px 0px 0px;
  text-align: right;
  min-height: 1rem;
}

button {
  color: black;
}

.calculator-container {
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.877);
  border: none;
}

button {
  cursor: pointer;
}
